# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dependencies
chardet/
chardet-3.0.4.dist-info/
bin/
urllib3/
urllib3-1.25.11.dist-info/
certifi-2020.12.5.dist-info/
certifi/
idna/
idna-2.8.dist-info/
requests-2.22.0.dist-info/
requests/
soupsieve-2.0.1.dist-info/
soupsieve/
bs4/
beautifulsoup4-4.9.3.dist-info/
certifi-2021.5.30.dist-info/

# Lambda ZIP code
*.zip

# CloudFormation
.serverless/
